.idea/misc.xml
.idea/modules.xml
.idea/tiles.iml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.vscode/settings.json
collapsed_tile/.DS_Store
collapsed_tile/collapsed_tile_images/.DS_Store
